/* The @import rule 
 * We can import either locally (specifying the path) or from a remote source, that's how we import 
 * Google Fonts for instance.
 * */
@import url("./toImport.css");

body { background-color: pink; }

@media (width >= 30em) {
    body { background-color: blue; }
}

.box {
    margin: 30px;
    width:  100px;
    height: 100px;
    background-color: rebeccapurple;
    transform: rotate(0.8turn);
    
    animation: 
        colorchange 2s infinite,
        pulse 0.5s infinite;
}

@keyframes colorchange {
    0%   { background-color: red; }
    50%  { background-color: blue;}
    100% { background-color: red; }
}

@keyframes pulse {
    0%   { transform: scale(1);  }
    50%  { transform: scale(1.2);}
    100% { transform: scale(1);  }
}
